<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>ログイン</h2>
      <%= form_with model: @user, url: login_path do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", class: "input" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password,  autocomplete: "current-password", :placeholder => "パスワード(6文字以上)", class: "input" %>
      </div><br>

      <div class="actions">
        <%= f.submit "ログインする" %>
      </div>

      <% end %>
    </div>
  </div>
</div>