<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto pt-5 pb-4">
      <p>ー美容部員のための美容部員だけの学びの場ー</p>
      <%= image_tag('cosmetics-1063134_1280.jpg') %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>